* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.head {
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  background-color: #081b31;
  color: #fff;
}

.head:hover {
  text-decoration: underline;
}

/* .border {
  border: 2px solid black;
} */

.game-con {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 2.5rem;
}

.game {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.choice {
  height: 165px;
  width: 165px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  background-color: #081b31;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

h2 {
  background-color: #2d4739;
  color: #fff;
  display: inline;
  padding: 1rem;
  border-radius: 2rem;
}

h3 {
  color: gray;
}

.points {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.user-p,
.comp-p {
  font-size: 3rem;
}

button {
  background-color: rgb(105, 155, 6);
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 2rem;
  font-size: 1.2rem;
}

@media (max-width: 650px) {
  .head {
    height: 4rem;
    line-height: 4rem;
  }

  .game {
    gap: 1.5rem;
  }

  .choice {
    height: 10rem;
    width: 10rem;
  }

  img {
    height: 9.5rem;
    width: 9.5rem;
  }

  .points {
    gap: 0.75rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 550px) {
  .choice {
    height: 8rem;
    width: 8rem;
  }

  .game {
    gap: 1.5rem;
  }

  img {
    height: 7.5rem;
    width: 7.5rem;
  }

  h2 {
    padding: 0.75rem;
    font-size: 1.25rem;
  }

  h3 {
    color: gray;
  }

  .points {
    gap: 0.75rem;
    font-size: 1rem;
  }

  .user-p,
  .comp-p {
    font-size: 2rem;
  }

  button {
    padding: 0.4rem;
    border-radius: 2rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 450px) {
  .game {
    gap: 0.7rem;
  }

  .choice {
    height: 6.75rem;
    width: 6.75rem;
  }

  img {
    height: 6.25rem;
    width: 6.25rem;
  }

  h2 {
    padding: 0.75rem;
    font-size: 1rem;
  }

  h3 {
    color: gray;
  }

  .points {
    gap: 0.5rem;
    font-size: 0.95rem;
  }

  .user-p,
  .comp-p {
    font-size: 1.5rem;
  }

  button {
    padding: 0.3rem;
    border-radius: 2rem;
    font-size: 1rem;
  }
}
